$base-theme:Default;
$skin-name:Fiori;
$accent: #007cc0;
$info: #d1eaff;
$success: #cce8d8;
$warning: #fef1d0;
$error: #ffd7d7;
$text-color: #333333;
$bg-color: #ffffff;
$base-text: #333;
$base-bg: #f2f2f2;
$hovered-text: #333;
$hovered-bg: #eaeaea;
$selected-text: #ffffff;
$selected-bg: #007cc0;
$series-a: #008fd3;
$series-b: #99d101;
$series-c: #f39b02;
$series-d: #f05662;
$series-e: #c03c53;
$series-f: #acacac;
